@charset "utf-8";
/* CSS styles for comp2913 final project */

/* box sizing reset, credit to https://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
html {box-sizing: border-box;}
  *, *:before, *:after {box-sizing: inherit;}

/* img reset */
img {max-width: 100%; height: auto;}


/* fonts all in one place. */

h1, h2 {
  font-family: Georgia, Garamond, 'Times New Roman', Times, serif;
  font-weight: normal;
}

textarea {
  font-family: sans-serif;
}


/* Page 1 -- IntakeForm Component */
.flex-wrapper {
  min-width: 320px;
  text-align: center;
}

.flex-wrapper section {
  padding: 0.5em;
}

.logo-and-name {
  background-color: black;
  color: white;
}

@media (min-width:750px) {
  .flex-wrapper {
    display: flex;
  }
  .logo-and-name {
    width: 40%;
    height: 100vh;
  }
  .intake-form {
    width: 60%;
  }
}

.intake-form form {
  max-width: 350px;
  margin: 0 auto 1em;
  padding: 0 0.5em;
}

.input-container { /* "input-container" is a wrapper for text input and text area fields */
  margin: 0.25em 0;
}

.input-container>label { /* hidden labels for screen readers, which have difficulty with "placeholder" text */
  display: none;
}

.input-container>input { /* regular text fields */
  line-height: 2.5;
}

.input-container>textarea { /* larger text field, i.e.: "About Me" */
  resize: none;
  line-height: 1.8;
}

.input-container>input,
.input-container>textarea {
  width: 100%;
  font-size: 1rem;
  border-radius: 0.5em;
  background-color: #eee;
  border: none;
  padding: 0.2em 0.5em;
}

.intake-form fieldset { /* fieldset = the section with checkboxes */
  margin: 0.5em auto;
  max-width: 80%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  border-radius: 0.5em;
}

.intake-form fieldset>label {
  min-width: 5em;
  text-align: left;
}

.intake-form button {
  width: 100%;
  font-size: 1rem;
  line-height: 2.5;
  background-color: black;
  color: #eee;
  font-weight: bold;
  border-radius: 0.6em;
  border: none;
}

.intake-form button:hover,
.intake-form button:focus {
  background-color: midnightblue;
  color: white;
  cursor: pointer;
}